.navbarmonitor{
    padding-left: 20px;
/*  width: 1510px;
    height: 108px;
    left: 204px;
    top: 21px;
*/
    background: linear-gradient(270deg, #007DBC 35.96%, #00A16A 93.44%);
    border-radius: 27px;
}

.logopagemonitoring{
    max-width: 50%;
    height: auto;

}

.controlswitchpanel{
    padding-left: 5px;
    padding-top: 5px;

    background: #0E1726;
    border-radius: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.subjudul{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #FFFFFF;
}
.subsubjudul{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    color: #FFFFFF
}
.graphbar{
    min-width: 255px;
    background: #191E3A;
    border-radius: 61px;
}


.textflexkanan{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
/* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.powerflexkanan:focus{
    padding-left: 4vw;
    padding-right: 4vw;
    
    background: #006CFF;
    border-radius: 61px;
}

.voltflexkanan:focus{
    padding-left: 4vw;
    padding-right: 4vw;
    background: #00AE86;
    border-radius: 61px;
}

.currentflexkanan:focus{
    padding-left: 4vw;
    padding-right: 4vw;
    background: #FF902E;
    border-radius: 61px;
}

.unchosenflexkanan{
    padding-left: 4vw;
    padding-right: 4vw;
    background: #636363;
    border-radius: 61px;
}

button{
    padding-left: 4vw;
    padding-right: 4vw;
    background: #636363;
    border-radius: 61px;  
}