.navbarmonitor{
    padding-left: 47px;
    padding-right: 16px;
    position: absolute;
    width: 1510px;
    height: 108px;
    left: 204px;
    top: 21px;
    
    background: linear-gradient(270deg, #007DBC 35.96%, #00A16A 93.44%);
    border-radius: 27px;
}

.logopagemonitoring{
    width: 394px;
    height: 73px;
    left: 251px;
}

.controlswitchpanel{
    width: 518.53px;
    height: 131.24px;
    left: 205px;
    top: 151px;

    background: #0E1726;
    border-radius: 27px;

    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: #FFFFFF;
}
