.navbarmonitor{
    padding-left: 47px;
    padding-top: 22px;

    background: linear-gradient(270deg, #007DBC 35.96%, #00A16A 93.44%);
    border-radius: 27px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.logopagemonitoring{
    width: 394px;
    height: 73px;
    left: 251px;
}
.logomuka{
    width: 76px;
    height: 76px;
    padding-left: 1000px;
}